.header__logo {
  background-image: url(../../../images/mesto.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 33px;
  width: 142px;
}

@media screen and (max-width: 880px) {
  .header__logo {
    margin-left: 27px;
    min-height: 25px;
    width: 104px;
  }
}