.element__popup {
  background-color: rgba(0, 0, 0, .5);
  height: 100vh;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: visibility .2s, opacity .2s linear;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}