.btn_type_like {
  background-color: #fff;
  background-image: url(../../../images/like.svg);
  background-size: cover;
  border: 0;
  height: 19px;
  width: 22px;
}

.btn_type_like:hover {
  opacity: .5;
}